---
import { Image } from 'astro:assets';
import Whats from '../../assets/images/contact/whats.svg';
import Wave from '../../assets/images/contact/wave.png';
import Paper2 from '../../assets/images/steps/paper2.svg';
---

<div id="contactContainer">
    <Image src={Paper2} class="paper" alt="Paper image" />
    <div id="contact">
        <div class="form">
            <Image src={Wave} class="wave" alt="Paper image" />
            <h2 class="title">Descubre como podemos<br />ayudar a tu negocio</h2>
            <form action="https://api.web3forms.com/submit" method="POST" id="contactForm">
        
                <!-- Replace with your Access Key -->
                <input type="hidden" name="access_key" value="d90f3a0f-a984-4258-b007-230986f6bc34">
        
                <!-- Form Inputs. Each input must have a name="" attribute -->
                <div class="grid">
                    <div class="row name">
                        <p>Nombre:</p>
                        <input type="text" name="name" required>
                    </div>
                    <div class="row cel">
                        <p>Celular:</p>
                        <input type="tel" name="phone">
                    </div>
                    <div class="row email">
                        <p>Correo:</p>
                        <input type="email" name="email" required>
                    </div>
                    <div class="row text">
                        <p>Mensaje:</p>
                        <textarea name="message" required></textarea>
                    </div>
                </div>
        
                <!-- Honeypot Spam Protection -->
                <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
        
                <!-- Custom Confirmation / Success Page -->
                <!-- <input type="hidden" name="redirect" value="https://mywebsite.com/thanks.html"> -->
                <div class="h-captcha" data-captcha="true"></div>
                <button type="submit" class="send">Enviar</button>
        
            </form>
        </div>
    
        <div class="wats">
            <p class="wats-txt">también por</p>
            <a href="#" href="wa.link/76xr1p"><Image src={Whats} class="whats" alt="Paper image" />whatsapp</a>
        </div>
    </div>
</div>

<script src="https://web3forms.com/client/script.js" async defer></script>
<script>
    const form = document.getElementById('contact');

    form.addEventListener('submit', function (e) {

        const hCaptcha = form.querySelector('textarea[name=h-captcha-response]').value;

        if (!hCaptcha) {
            e.preventDefault();
            alert("Please fill out captcha field")
            return
        }
    });
</script>

<style>
    #contactContainer{
        position: relative;
    }

    #contact {
        position: relative;
        padding-top: 150px;
        overflow: hidden;
    }

    .paper{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        object-fit: cover;
        filter: drop-shadow(0px 14px 8px rgba(0,0,0,.1));
    }

    .form{
        position: relative;
        border-bottom: 1px dashed black;
        padding-bottom: 100px;
        padding: 0 30px;
        padding-bottom: 100px;
    }

    #contactForm{
        max-width: 800px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    .wave{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 400px;
        height: auto;
        object-fit: contain;
        z-index: 0;
    }

    h2 {
        text-align: center;
        margin: 0;
        line-height: 1;
        font-family: "thunder";
        font-size: 80px;
        text-transform: uppercase;
        margin: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        column-gap: 100px;
        max-width: 800px;
        margin: 0 auto;
    }

    .name {
        grid-area: 1 / 1 / 2 / 3;
    }

    .cel {
        grid-area: 2 / 1 / 3 / 2;
    }

    .email {
        grid-area: 2 / 2 / 3 / 3;
    }

    .text {
        grid-area: 3 / 1 / 4 / 3;
    }

    input, textarea{
        width: 100%;
        padding: 20px 0px;
        border: 1px solid black;
    }

    .h-captcha{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }

    .send{
        color: black;
		font-family: "VT323", monospace;
        background-color: rgb(var(--accent));
        border: 1px solid black;
        font-size: 40px;
        display: flex;
        margin-left: auto;
        padding: 10px 50px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s ease;
    }

    .send:hover{
        background-color: rgba(255,255,255,0);
        transition: all .3s ease;
    }

    .wats{
        text-align: center;
        margin-top: 50px;
        position: relative;
        padding: 100px 30px;
    }

    .wats a{
        background-color: rgba(37, 211, 102, .9);
        display: flex;
        padding: 10px 30px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        column-gap: 10px;
        text-transform: uppercase;
        font-size: 40px;
        width: 300px;
        font-family: "satoshi";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .wats a:visited{
        color: white;
    }

    .wats img{
        width: 50px;
        height: auto;
    }

    .wats .wats-txt{
        font-size: 14svw;
        text-transform: uppercase;
        text-align: center;
        font-family: "satoshi";
        margin: 0;
        line-height: 1;
    }

    @media only screen and (max-width: 780px) {
        .grid{
            column-gap: 30px;
            grid-template-rows: auto;
        }

        .title{
            font-size: 50px;
        }

        input{
            padding: 15px 0;
        }

        .send{
            font-size: 30px;
        }

        .form{
            padding-bottom: 310px;
        }

        .wave{
            width: 150px;
        }

        .wats-txt{
            font-size: 20svw !important;
        }
    }

    @media only screen and (max-width: 400px) {
        .wats a{
            display: flex;
            flex-direction: column;
            font-size: 20px;
            width: 170px;
        }

        .wats img{
            width: 30px;
        }
    }
</style>