---
import { Image } from 'astro:assets';
import Whats from '../../assets/images/contact/whats.svg';
---

<a href="#" href="wa.link/76xr1p" class="contact-link"><Image src={Whats} class="whats-icon" alt="Paper image" />whatsapp</a>

<style>
    .contact-link{
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: rgb(var(--accent));
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "satoshi";
        color: white;
        text-decoration: none;
        column-gap: 5px;
        padding: 5px 10px;
        border: 1px solid black;
        z-index: 99;
        cursor: pointer;
        transition: background .3s ease;
    }

    .contact-link:hover{
        background-color: black;
        transition: background .3s ease;
    }

    .contact-link img{
        width: 30px;
        height: 30px;
    }
</style>